h1, p, li, h2, h5, label {
    font-family: 'Antic Didone', serif;
}

#me-pic {
    border-radius: 15px 50px 30px;
    border: solid lightpink;
    padding: 3px;
}

#contact-pic {
    border-radius: 15px 50px 30px;
    border: dotted yellow;
    padding: 3px; 
}

.nav-item {
    font-size: 25px;
    padding: 10px;
    margin-top: 10px;
}

.nav-link {
    font-size: 40px;
    color: black;
    font-weight: bold;
    padding: 15px;
}

.media-body {
    margin-right: 40px;
}

.card {
    margin-top: 150px;
    margin-left: 20px;
    border-radius: 15px 50px 30px;
}
.container {
    margin-top: 20px;
}

h5 {
    font-size: 30px;
}

p {
    margin-left: 30px;
}

form {
    margin-right: 200px;
}

.carousel-inner {
    width: 1520px;
    height: 700px;

}

.portfolio-row-1 {
    justify-content: space-between;
}


.copyright{
    clear: both;
    padding-top: 30px;
    text-align: center;
}